---
layout: page
title: Resources
sidebar: true
# permalink: /resources/
sections: ['Games','Scripts']
scripts: ['Praat','Python','R']
---

<div>
  <p style="font-size: 120%;">
    {% for sec in page.sections %}
    <a href="#{{ sec | slugify }}">{{ sec }}</a>
    &#160 &#160
    {% endfor %}
  </p>
</div>

<hr class="brand"/>

<h2 id="games">Games</h2>

<p><em>Troubleshoot</em>: If you're on Windows and you see an error saying <em>api-ms-win-core-path-l1-1-1.ddl is missing</em> when trying to open one of the games, this may be because your PC doesn't have the Visual C++ Redistributable for Visual Studio 2015 or 2017, which is required by Python. Try downloading it <a href="https://aka.ms/vs/16/release/vc_redist.x86.exe">for x86 (32bit) Windows</a> or <a href="https://aka.ms/vs/16/release/vc_redist.x64.exe">for x64 (64 bit) Windows</a>.</p>

<ul>
  <li>
    <p><b>Worldle Forever</b><a id="worldle"></a></p>
    <p><a href="https://github.com/Yiling-Huo/worldle-forever/raw/main/dist/worldle-forever.exe" download>Download for Windows</a> (14 MB)</p>
    <p><a href="https://github.com/Yiling-Huo/worldle-forever">Source code</a>. A knock-off of the game <a href="https://worldle.teuteuf.fr/">Worldle - Guess the Country!</a>, except you're not limited to one country a day. </p>
    <p>Maps taken from: <a href="https://github.com/djaiss/mapsicon">Mazarin @djaiss</a>.</p>
    <p><em>The maps were not created by me, and any inaccuracies are the responsibility of the original creator.</em></p>
    <p><img src="/images/resources/worldle-1.png"  width="49%"><img src="/images/resources/worldle-2.png"  width="49%"></p>
  </li>
  <li>
    <p><b>Uncolored Green Idea Game</b><a id="chom"></a></p>
    <p><a href="https://drive.google.com/file/d/1EBuJQcmogfXuBO1a9Oq5UgpxvvKG98_W/view?usp=drive_link" target="_blank">Download for Windows</a> (version 0.1.3, 309 MB)</p>
    <p><a href="https://drive.google.com/file/d/16En1pK8N6A-YGZ7UkYVEkCNP_LW4O7JO/view?usp=drive_link" target="_blank">Download for Mac OS</a> (version 0.1.3, 314.6 MB)</p>
    <p><a href="https://github.com/Yiling-Huo/chomsky-simulator">Source code</a>. A game where you get to build grammatical nonsense sentences. Made with pygame.</p>
    <p><a href="https://youtu.be/_x3nDgyR4fc" target="_blank">Video demo</a></p>
    <p><img src="/images/resources/chom-1.png"  width="49%"><img src="/images/resources/chom-2.png"  width="49%"></p>
    <p><img src="/images/resources/chom-3.png"  width="49%"><img src="/images/resources/chom-4.png"  width="49%"></p>
  </li>
  <li>
    <p><b>Chengyu Maze 成语迷宫</b><a id="chengyu"></a></p>
    <p><a href="https://github.com/Yiling-Huo/chengyu-maze/raw/main/build.zip" download>Download for Windows</a> (25 MB)</p>
    <p><a href="https://github.com/Yiling-Huo/chengyu-maze">Source code</a>. A game that looks like the maze task used by psycholinguists, but with Chinese chengyu (four-character idioms). Made with pygame.</p>
    <p><img src="/images/resources/chengyu1.png"  width="40%"><img src="/images/resources/chengyu2.png"  width="40%"></p>
  </li>
  <!-- <li>
    <p>CFG Maze Game: <a id="cfg"></a></p>
    <p><a href="https://github.com/Yiling-Huo/cfg-maze/raw/main/build.zip" download>Download</a> (22.7 MB, <em>The build only works on Windows, please download the source code if using Mac.</em>) <a href="https://github.com/Yiling-Huo/cfg-maze">Source code</a>. A game that looks like the maze task used by psycholinguists, but the sentences are generated using a (very simple) context-free grammar (CFG) sentence generator. (Hey, an interdisciplinary work between psycholinguistics and computational linguistics /j.) Made with pygame. </p>
    <p><img src="/images/resources/cfg1.png"  width="40%"><img src="/images/resources/cfg2.png"  width="40%"></p>
  </li> -->
  <li>
    <p><b>TicTacToe Lite</b><a id="tictactoe"></a></p>
    <p><a href="https://github.com/Yiling-Huo/tic-tac-toe/raw/main/build.zip" download>Download for Windows</a> (22.8 MB)</p>
    <p><a href="https://github.com/Yiling-Huo/tic-tac-toe">Source code</a>. A mini tic-tac-toe game made with pygame. Based on a class practice in <a href="https://www.ucl.ac.uk/module-catalogue/modules/introduction-to-computational-linguistics-PLIN0034">PLIN0034</a>.</p>
    <p><img src="/images/resources/tic-tac-toe.png"  width="40%"></p>
  </li>
  <li>
    <p><b>Cyber fortune cookie</b><a id="fortune"></a></p>
    <p><a href="https://github.com/Yiling-Huo/cyber-fortune-cookie/raw/main/build.zip" download>Download for Windows</a> (23 MB)</p>
    <p><a href="https://github.com/Yiling-Huo/cyber-fortune-cookie">Source code</a>. A mini-game made with python and pygame, in which you can open fortune cookies and get your fortune. </p>
    <p><img src="/images/resources/fortune-cookie-game.png"  width="40%"></p>
  </li>
</ul>

<h2 id="scripts">Scripts</h2>

<div>
  <p style="font-size: 110%;">
    {% for t in page.scripts %}
    <a href="#{{ t | slugify }}">{{ t }}</a>
    &#160 &#160
    {% endfor %}
  </p>
</div>

<h3 id="praat">Praat scripts:</h3>

<ul>
  <li>
    <p>Extract by-interval mean formants:</p>
    <p><a href="https://gist.github.com/Yiling-Huo/58919bc5b79fb8e4223538995dc07c65">Script</a>. <a href="https://yiling-huo.github.io/tutorials/2024/06/27/get-formants.html">Tutorial</a>. A Praat script that extracts by-interval average formants (f1-f4) based on sound files and .Textgrid files.</p>
  </li>
  <li>
    <p>Make auditory serial presentation stimuli:</p>
    <p><a href="https://gist.github.com/Yiling-Huo/0ffafad45f39ae69556a46c3240429c6">Script</a>. <a href="https://yiling-huo.github.io/tutorials/2023/03/10/make-auditory-sp-stimuli.html">Tutorial</a>. A Praat script that, given the stimulus-onset asynchrony (SOA), makes auditory serial presentation stimuli from continuous speech recordings and their textgrids.</p>
  </li>
  <li>
    <p>Extract pitch contour:</p>
    <p><a href="https://gist.github.com/Yiling-Huo/13d2d18dde2a547dc8b4cc891f9a7d72">Script</a>. <a href="https://yiling-huo.github.io/tutorials/2023/03/10/extract-tone.html">Tutorial</a>. A Praat script that extracts pitch contour information based on .wav sounds and .Textgrid files.</p>
  </li>
  <li>
    <p>Get duration:</p>
    <p><a href="https://gist.github.com/Yiling-Huo/2964a50ab5fcdf78a6544d5da29e83d2">Script</a>. <a href="https://yiling-huo.github.io/tutorials/2023/06/14/get-duration.html">Tutorial</a>. A Praat script that gets audio file durations from a directory containing audio files. The script outputs a .csv file.</p>
  </li>
</ul>

<h3 id="python">Python scripts:</h3>

<ul>
  <li>
    <p>Automated processing of Chinese cloze responses:</p>
    <p><a href="https://github.com/Yiling-Huo/chinese-cloze-processing">Scripts</a>. <a href="https://yiling-huo.github.io/tutorials/2023/02/06/How-to-process-cloze.html">Tutorial</a>. Two scripts that process data collected from cloze tasks in Chinese. In a cloze task, the participant sees incomplete sentences and is asked to complete the sentence by providing one or a few words.</p>
  </li>
  <li>
    <p>Compare images from two folders:</p>
    <p><a href="https://gist.github.com/Yiling-Huo/a4f0005b42c2a10f5b2a59511f80fc5c">Script</a>. <a href="https://yiling-huo.github.io/tutorials/2023/03/30/compare-images.html">Tutorial</a>. A Python script that compares images from two folders to search for duplicates. </p>
  </li>
  <li>
    <p>Convert audio:</p>
    <p><a href="https://gist.github.com/Yiling-Huo/08381aad8af9c227d8d1d4eab7fdeba2">Script</a>. <a href="https://yiling-huo.github.io/tutorials/2023/06/14/convert-audio.html">Tutorial</a>. A Python script that converts audio file formats using pydub and ffmpeg.</p>
  </li>
  <li>
    <p>Noise reduction:</p>
    <p><a href="https://gist.github.com/Yiling-Huo/6fc080cba8f3f4260252c20bbf8eb320">Script</a>. <a href="https://yiling-huo.github.io/tutorials/2023/07/23/noise-reduction.html">Tutorial</a>. A Python script that reduces breathing and room noise from recordings. </p>
  </li>
  <li>
    <p>Present pictures and labels:</p>
    <p><a href="https://gist.github.com/Yiling-Huo/b9468742a3dec01e762f87f35de7729a">Script</a>. <a href="https://yiling-huo.github.io/tutorials/2024/02/20/present-pic-task.html">Tutorial</a>. A Python (pygame) program that presents participants with a series of pictures and their labels. </p>
  </li>
</ul>

<h3 id="r">R scripts:</h3>

<ul>
  <li>
    <p>Remove outliers:</p>
    <p><a href="https://gist.github.com/Yiling-Huo/7b980019c6c1169d1ec8140d9889934a">Script</a>. A simple function that removes outliers from a data frame based on the 3 s.d. rule. </p>
  </li>
  <li>
    <p>Remove track loss trials:</p>
    <p><a href="https://gist.github.com/Yiling-Huo/9a49e7b7a5fdcf5bee46d4c741d9497e">Script</a>. <a href="https://yiling-huo.github.io/tutorials/2023/04/25/trackloss.html">Tutorial</a>. A function that removes trials from visual world eye-tracking data where no eye gaze can be detected on any of the images in the visual display for an extensive proportion of the time. </p>
  </li>
</ul>