<div id='github-comment'>
    {% if page.comment_issue_id %}
    <script type="text/javascript">
        document.querySelector("{{ include.element }}").innerHTML = document.querySelector("{{ include.element }}").innerHTML + "<div id='comments'></div>";
        document.getElementById("comments").innerHTML = "<h3>Comments</h3><p>You can <a href='https://github.com/{{ include.github_account }}/issues/{{page.comment_issue_id}}' target='_blank'>view the comments</a> on GitHub.</p>";

        function reloadComments() {
            var elements = document.querySelectorAll('.comment');
            Array.prototype.forEach.call(elements, function(el, i){
                el.remove();
            });
            $.ajax("https://api.github.com/repos/{{ include.github_account }}/issues/{{page.comment_issue_id}}/comments?per_page=100", {
                headers: {Accept: "application/vnd.github.full+json"},
                dataType: "json",
                success: function(msg){
                    localStorage.setItem('comments_{{ include.github_account }}_{{page.comment_issue_id}}',JSON.stringify(msg));
                    loadComments(msg);
                },
                error: function() { 
                    document.getElementById("comments").innerHTML = "<h3>Comments</h3><p>You can <a href='https://github.com/{{ include.github_account }}/issues/{{page.comment_issue_id}}' target='_blank'>view the comments</a> on GitHub. The comments cannot be shown inline because we have hit the rate limit of Github.</p>";
                }
            });
            return false;
        }
        function loadComments(data) {
            $("#comments").html("<h3>Comments</h3><p><a href='https://github.com/{{ include.github_account }}/issues/{{page.comment_issue_id}}' target='_blank'>Leave a comment</a> through GitHub, or <a onclick=' reloadComments();' style='cursor: pointer;'>refresh</a> the comments below.</p>");
            for (var i=0; i<data.length; i++) {
                var cuser = data[i].user.login;
                var cuserlink = "https://www.github.com/" + data[i].user.login;
                var clink = "https://github.com/{{ include.github_account }}/issues/{{page.comment_issue_id}}#issuecomment-" + data[i].url.substring(data[i].url.lastIndexOf("/")+1);
                var cbody = data[i].body_html;
                var cdate = data[i].created_at;
                document.getElementById("comments").innerHTML = document.getElementById("comments").innerHTML + "<div class='comment'>" + "<div class='commentheader'><a class='commentuser' href=\""+ cuserlink + "\">" + cuser + "</a> commented <a class='commentdate' href=\"" + clink + "\">on " + cdate.substring(0, 10) + "</a></div><div class='commentbody'>" + cbody + "</div></div>";
            }
        }
        data = localStorage.getItem('comments_{{ include.github_account }}_{{page.comment_issue_id}}');
        if(data) {
            {% if include.require_cookie_consent == 'true' %}
                if(readCookie('cookie-notice-dismissed')=='true') {
                    loadComments(JSON.parse(data));
                } else {
                    delete data;
                    document.getElementById("comments").innerHTML = "<h3>Comments</h3><p>You can <a href='https://github.com/{{ include.github_account }}/issues/{{page.comment_issue_id}}' target='_blank'>view the comments on GitHub</a>.</p>";
                }
            {% else %}
                reloadComments();
            {% endif %}
        } else {
            {% if include.require_cookie_consent == 'true' %}
                if(readCookie('cookie-notice-dismissed')=='true') reloadComments();
                else document.getElementById("comments").innerHTML = "<h3>Comments</h3><p>You can <a href='https://github.com/{{ include.github_account }}/issues/{{page.comment_issue_id}}' target='_blank'>view the comments on GitHub</a>.</p>";
            {% else %}
                reloadComments();
            {% endif %}
        }
    </script>
    {% endif %}
</div>