{% if page.comment_issue_id %}
<style>
    #cookie-notice {display: block;}
    #cookie-notice a {display: inline-block;}
</style>
<div id="cookie-notice"><span>Show comments directly by approving third party cookies.</span> &#160 <a id="cookie-notice-accept">Approve</a></div>
<div id="cookie-notice-clear"><a id="cookie-clear">Clear cookies for this site</a></div>

<script>
    function createCookie(name,value,days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }
    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }
    function eraseCookie(name) {
        createCookie(name,"",-1);
    }

    if(readCookie('cookie-notice-dismissed')=='true') {
        document.getElementById('cookie-notice').style.display = 'none';
        document.getElementById('cookie-notice-clear').style.display = 'block';
    } else {
        document.getElementById('cookie-notice').style.display = 'block';
        document.getElementById('cookie-notice-clear').style.display = 'none';
    }
    document.getElementById('cookie-notice-accept').addEventListener("click",function() {
        createCookie('cookie-notice-dismissed','true',30);
        document.getElementById('cookie-notice').style.display = 'none';
        document.getElementById('cookie-notice-clear').style.display = 'block';
        location.reload();
    });
    document.getElementById('cookie-clear').addEventListener("click",function() {
        eraseCookie('cookie-notice-dismissed');
        location.reload();
    });

</script>
{% endif %}