<div id='related'>
    <p ><img class="tag" src="/images/tag.svg" alt="tags" />
        Tags: &nbsp;
        {% for item in page.tags %}
        <a href="{{ site.url }}/tags/#{{ item | slugify }}">{{ item }} &nbsp; &nbsp;</a>  
        {% endfor %}
    </p>

    <h3>Related Posts</h3>

    {% for item in page.tags %}
        {% if site.tags[item].size > 1 %}
        <!-- if there is at least another post in the same tag -->
            <p style="line-height: 70%;">{{ item }}</p>
            {% assign count = 0 %}
            <ul style="list-style-type: none">
                {% for post in site.tags[item] %}
                    {% if post.id != page.id %}
                        {% if count > 4 %} <!-- if more than three posts in a tag -->
                            <li><a href="{{ site.url }}/tags/#{{ item | slugify }}">More >></a></li>
                            {% break %}
                        {% else %}
                        {% assign count = count | plus: 1 %}
                            <li>
                                <a href="{{ post.url | relative_url }}">
                                    {{ post.title | escape }}
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
</div>