<p style="line-height: 80%; font-size:80%; padding: 1em 0 0 0;"><img class="tag" src="/images/tag.svg" alt="tags" />
    Tags: 
    {% for item in page.tags %}
    <a href="{{ site.url }}/tags/#{{ item }}">{{ item }}</a>  
    {% endfor %}
</p>

<h3>Related Posts</h3>

{% for item in page.tags %}
<p style="line-height: 70%;">{{ item }}</p>
<ul style="list-style-type: none">
    {% for post in site.tags[item] %}
        {% if post.id != page.id %}
            <li>
                <a href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
{% endfor %}