.social-media-list {
    list-style: none;
    // margin-left: 0;
    display: table;
    padding: 0;
    margin: 0 auto;
    li {
        float: left;
        margin: 5px 10px 5px 0;
        &:last-of-type { margin-right: 0 }
        a {
            display: block;
            padding: 10px 12px;
            border: 0px;
        }
    }
}

.svg-icon {
    width: 1.25em;
    height: 1.25em;
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
}

.tag {
    padding: 0;
    margin: 0;
    display: inline-block;
    *display: inline; /* for older IE */
    *zoom: 1; /* for older IE */
    height: 1em;
}

.back-to-top {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: block; 
    clear: both; 
    text-transform: uppercase; 
    text-align: right; 
    position: fixed; 
    bottom: 5%; 
    right: 10%; 
    background-color: rgba(255,255,255,0.8);
}

.profile {
    content: url("/images/profile.webp");
}

.gallery-container {
    position: relative;
    width: 100%; /* Set the width of the visible area */
    // height: 75vh; /* Set the height of the visible area */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: left;
}

.gallery-track {
    display: flex;
    transition: transform 0.4s ease;
}

.gallery-item {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* flex-start: photo on top, looks better? center: photo at the center of container*/
    text-align: center;
    padding: 0 50px 0;
}

@media (min-width: 48em) {
.gallery-item {
    width: 50vw;
}
}

.gallery-item img {
    max-width: 80%;
    max-height: 80%;
    padding: 0; 
    border-radius: 0;
}

.gallery-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    z-index: 1; /* Ensure buttons are above images */
}

.gallery-button.prev {
    left: 10px;
}

.gallery-button.next {
    right: 10px;
}

.gallery-caption {
    list-style-type:none;
}