---
layout: base-wide
---

<style>
  h2{
      line-height:"70%";
      margin-bottom: -0.6em;
  }
  h3{
      line-height:"80%";
      margin: 0px;
  }
  </style>
  
  <article class="post">
  
    <header class="post-header">
      {%- if page.title -%}
        <h1 class="post-title">{{ page.title }}</h1>
      {%- endif -%}
    </header>
  
    <div class="post-content">
      <ul  style="list-style-type: none">
        {% for i in page.tags %}
            <li><a href="#{{ i | slugify }}">{{ i }}</a></li>
        {% endfor %}
      </ul>
  
      {{ content }}
  
  
      {% for item in page.tags %}
        <h2>{{ item }}</h2><a name="{{ item | slugify }}"></a>
        <ul style="list-style-type: none">
        {% for post in site.tags[item] %}
            <li>
            <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h3>
            <span class="post-meta">{{ post.date | date_to_long_string }}</span>
            {{ post.excerpt }}
            <!-- {% if post.content contains site.excerpt_separator %}
                <a href="{{ site.baseurl }}{{ post.url }}">Read more</a>
            {% endif %} -->
            </li>
        {% endfor %}
        </ul>
      {% endfor %}
    </div>
  
  </article>
  