@charset "utf-8";

// Default color scheme settings
// These are overridden in classic.css and dark.scss

$color-scheme-cus-default: true !default;

$color-scheme-cus-spring: false !default;
$color-scheme-cus-summer: false !default;
$color-scheme-cus-autumn: false !default;
$color-scheme-cus-winter: false !default;

// Custom color schemes
// default theme (close to minima classic light)
$de-title:                 "";
$de-brand-color:           #828282 !default;
$de-code-background-color: #eeeeff !default;
$de-link-base-color:       #2a7ae2 !default;
$de-background-image: url("/images/background/background-de.webp");
$de-profile-image: url("/images/profile/profile-de.webp");

$de-brand-color-light: lighten($de-brand-color, 40%) !default;
$de-brand-color-dark: darken($de-brand-color, 25%) !default;

$de-site-title-color: $de-brand-color-dark !default;

$de-text-color: #111111 !default;
$de-background-color: #fdfdfd !default;

$de-link-visited-color: darken($de-link-base-color, 15%) !default;
$de-link-hover-color: $de-text-color !default;

$de-border-color-01: $de-brand-color-light !default;
$de-border-color-02: lighten($de-brand-color, 35%) !default;
$de-border-color-03: $de-brand-color-dark !default;

$de-table-text-color:      lighten($de-text-color, 18%) !default;
$de-table-zebra-color:     adjust-color(lighten($de-brand-color, 46%), $alpha: -0.8) !default;
$de-table-header-bg-color: adjust-color(lighten($de-brand-color, 43%), $alpha: -0.8) !default;
$de-table-header-border:   lighten($de-brand-color, 37%) !default;
$de-table-border-color:    adjust-color($de-border-color-01, $alpha: -0.5) !default;

// spring theme
$sp-title:                 "  -spring edition- ";
$sp-brand-color:           #d1ce00 !default; //#e7ca09 !default;
$sp-code-background-color: #f6ffc1 !default;
$sp-link-base-color:       #9bb600 !default;
$sp-background-image: url("/images/background/background-sp.webp");
$sp-profile-image: url("/images/profile/profile-sp.webp");

$sp-brand-color-light: lighten($sp-brand-color, 50%) !default;
$sp-brand-color-dark: darken($sp-brand-color, 25%) !default;

$sp-site-title-color: #455500 !default; //darken(#828282, 25%) !default;

$sp-text-color: #111111 !default;
$sp-background-color: lighten($sp-brand-color, 56%) !default; //#fdfdfd !default; //this variable is only used for navigation background color when narrow window

$sp-link-visited-color: darken($sp-link-base-color, 10%) !default;
$sp-link-hover-color: $sp-text-color !default;

$sp-border-color-01: lighten($sp-code-background-color, 5%) !default; //$sp-brand-color-light !default;
$sp-border-color-02: lighten($sp-brand-color, 35%) !default;
$sp-border-color-03: #455500 !default; //#505050 added the green

$sp-table-text-color:      lighten($sp-text-color, 18%) !default;
$sp-table-zebra-color:     adjust-color(lighten($sp-brand-color, 46%), $alpha: -0.8) !default;
$sp-table-header-bg-color: adjust-color(lighten($sp-brand-color, 43%), $alpha: -0.8) !default;
$sp-table-header-border:   lighten($sp-brand-color, 37%) !default;
$sp-table-border-color:    adjust-color($sp-brand-color-light, $alpha: -0.4) !default; //$sp-border-color-01 !default;

// summer theme
$su-title:                 "  -summer edition- ";
$su-brand-color:           #dac700 !default; //#00bfff !default;
$su-code-background-color: #d3f4ff !default;
$su-link-base-color:       #00a9df !default;
$su-background-image: url("/images/background/background-su.webp");
$su-profile-image: url("/images/profile/profile-su.webp");

$su-brand-color-light: lighten($su-brand-color, 40%) !default;
$su-brand-color-dark: darken(#00bfff, 25%) !default;

$su-site-title-color: $su-brand-color-dark !default;

$su-text-color: #111111 !default;
$su-background-color: lighten($su-link-base-color, 52%) !default;  //#fdfdfd !default;

$su-link-visited-color: darken($su-link-base-color, 15%) !default;
$su-link-hover-color: $su-text-color !default;

$su-border-color-01: lighten($su-code-background-color, 5%) !default; //$su-brand-color-light !default;
$su-border-color-02: lighten($su-brand-color, 35%) !default;
$su-border-color-03: $su-brand-color-dark !default;

$su-table-text-color:      lighten($su-text-color, 18%) !default;
$su-table-zebra-color:     adjust-color(lighten($su-brand-color, 46%), $alpha: -0.8) !default;
$su-table-header-bg-color: adjust-color(lighten($su-brand-color, 43%), $alpha: -0.8) !default;
$su-table-header-border:   lighten($su-brand-color, 37%) !default;
$su-table-border-color:    adjust-color($su-brand-color-light, $alpha: -0.4) !default; //$sp-border-color-01 !default;

// autumn theme
$au-title:                 "  -autumn edition- ";
$au-brand-color:           #859c00 !default;
$au-code-background-color: #fdece3 !default;
$au-link-base-color:       #e76016 !default;
$au-background-image: url("/images/background/background-au.webp");
$au-profile-image: url("/images/profile/profile-au.webp");

$au-brand-color-light: lighten($au-brand-color, 40%) !default;
$au-brand-color-dark: darken($au-link-base-color, 25%) !default;

$au-site-title-color: $au-brand-color-dark !default;

$au-text-color: #111111 !default;
$au-background-color: lighten($au-link-base-color, 47%) !default; //#fdfdfd !default; //this variable is only used for navigation background color when narrow window

$au-link-visited-color: darken($au-link-base-color, 15%) !default;
$au-link-hover-color: $au-text-color !default;

$au-border-color-01: #fdfdfd !default; //lighten($au-code-background-color, 2%) !default; //$sp-brand-color-light !default;
$au-border-color-02: lighten($au-brand-color, 35%) !default;
$au-border-color-03: $au-brand-color-dark !default;

$au-table-text-color:      lighten($au-text-color, 18%) !default;
$au-table-zebra-color:     adjust-color(lighten($au-link-base-color, 46%), $alpha: -0.8) !default;
$au-table-header-bg-color: adjust-color(lighten($au-link-base-color, 43%), $alpha: -0.8) !default;
$au-table-header-border:   lighten($au-link-base-color, 37%) !default;
$au-table-border-color:    adjust-color(lighten($au-link-base-color, 40%), $alpha: -0.4) !default; //$au-border-color-01 !default;

// winter theme
$wi-title:                 "  -winter edition- ";
$wi-brand-color:           #828282 !default;
$wi-code-background-color: #d6e9ff !default;
$wi-link-base-color:       #0078ff !default;
$wi-background-image: url("/images/background/background-wi.webp");
$wi-profile-image: url("/images/profile/profile-wi.webp");

$wi-brand-color-light: lighten($wi-brand-color, 40%) !default;
$wi-brand-color-dark: darken($wi-brand-color, 25%) !default;

$wi-site-title-color: $wi-brand-color-dark !default;

$wi-text-color: #111111 !default;
$wi-background-color: #fdfdfd !default;

$wi-link-visited-color: darken($wi-link-base-color, 15%) !default;
$wi-link-hover-color: $wi-text-color !default;

$wi-border-color-01: $wi-brand-color-light !default;
$wi-border-color-02: lighten($wi-brand-color, 35%) !default;
$wi-border-color-03: $wi-brand-color-dark !default;

$wi-table-text-color:      lighten($wi-text-color, 18%) !default;
$wi-table-zebra-color:     adjust-color(lighten($wi-brand-color, 46%), $alpha: -0.8) !default;
$wi-table-header-bg-color: adjust-color(lighten($wi-brand-color, 43%), $alpha: -0.8) !default;
$wi-table-header-border:   lighten($wi-brand-color, 37%) !default;
$wi-table-border-color:    adjust-color($wi-border-color-01, $alpha: -0.4) !default;

// Custom skin select
//default winter
$brand-color: $de-brand-color;
$link-base-color: $de-link-base-color;
$code-background-color: $de-code-background-color;
$background-image: $de-background-image;
$profile-image: $de-profile-image;
$title: $de-title;

$brand-color-light: $de-brand-color-light;
$brand-color-dark: $de-brand-color-dark;

$site-title-color: $de-site-title-color;

$text-color: $de-text-color;
$background-color: $de-background-color;

$link-visited-color: $de-link-visited-color;
$link-hover-color: $de-link-hover-color;

$border-color-01: $de-border-color-01;
$border-color-02: $de-border-color-02;
$border-color-03: $de-border-color-03;

$table-text-color: $de-table-text-color;
$table-zebra-color: $de-table-zebra-color;
$table-header-bg-color: $de-table-header-bg-color;
$table-header-border: $de-table-header-border;
$table-border-color: $de-table-border-color;

@if $color-scheme-cus-spring {
    $brand-color: $sp-brand-color;
    $link-base-color: $sp-link-base-color;
    $code-background-color: $sp-code-background-color;
    $background-image: $sp-background-image;
    $profile-image: $sp-profile-image;
    $title: $sp-title;

    $brand-color-light: $sp-brand-color-light;
    $brand-color-dark: $sp-brand-color-dark;
  
    $site-title-color: $sp-site-title-color;
  
    $text-color: $sp-text-color;
    $background-color: $sp-background-color;
  
    $link-visited-color: $sp-link-visited-color;
    $link-hover-color: $sp-link-hover-color;
  
    $border-color-01: $sp-border-color-01;
    $border-color-02: $sp-border-color-02;
    $border-color-03: $sp-border-color-03;
  
    $table-text-color: $sp-table-text-color;
    $table-zebra-color: $sp-table-zebra-color;
    $table-header-bg-color: $sp-table-header-bg-color;
    $table-header-border: $sp-table-header-border;
    $table-border-color: $sp-table-border-color;
} @else if $color-scheme-cus-summer {
    $brand-color: $su-brand-color;
    $link-base-color: $su-link-base-color;
    $code-background-color: $su-code-background-color;
    $background-image: $su-background-image;
    $profile-image: $su-profile-image;
    $title: $su-title;

    $brand-color-light: $su-brand-color-light;
    $brand-color-dark: $su-brand-color-dark;
  
    $site-title-color: $su-site-title-color;
  
    $text-color: $su-text-color;
    $background-color: $su-background-color;
  
    $link-visited-color: $su-link-visited-color;
    $link-hover-color: $su-link-hover-color;
  
    $border-color-01: $su-border-color-01;
    $border-color-02: $su-border-color-02;
    $border-color-03: $su-border-color-03;
  
    $table-text-color: $su-table-text-color;
    $table-zebra-color: $su-table-zebra-color;
    $table-header-bg-color: $su-table-header-bg-color;
    $table-header-border: $su-table-header-border;
    $table-border-color: $su-table-border-color;
} @else if $color-scheme-cus-autumn {
    $brand-color: $au-brand-color;
    $link-base-color: $au-link-base-color;
    $code-background-color: $au-code-background-color;
    $background-image: $au-background-image;
    $profile-image: $au-profile-image;
    $title: $au-title;

    $brand-color-light: $au-brand-color-light;
    $brand-color-dark: $au-brand-color-dark;
  
    $site-title-color: $au-site-title-color;
  
    $text-color: $au-text-color;
    $background-color: $au-background-color;
  
    $link-visited-color: $au-link-visited-color;
    $link-hover-color: $au-link-hover-color;
  
    $border-color-01: $au-border-color-01;
    $border-color-02: $au-border-color-02;
    $border-color-03: $au-border-color-03;
  
    $table-text-color: $au-table-text-color;
    $table-zebra-color: $au-table-zebra-color;
    $table-header-bg-color: $au-table-header-bg-color;
    $table-header-border: $au-table-header-border;
    $table-border-color: $au-table-border-color;
} @else if $color-scheme-cus-winter {
    $brand-color: $wi-brand-color;
    $link-base-color: $wi-link-base-color;
    $code-background-color: $wi-code-background-color;
    $background-image: $wi-background-image;
    $profile-image: $wi-profile-image;
    $title: $wi-title;

    $brand-color-light: $wi-brand-color-light;
    $brand-color-dark: $wi-brand-color-dark;
  
    $site-title-color: $wi-site-title-color;
  
    $text-color: $wi-text-color;
    $background-color: $wi-background-color;
  
    $link-visited-color: $wi-link-visited-color;
    $link-hover-color: $wi-link-hover-color;
  
    $border-color-01: $wi-border-color-01;
    $border-color-02: $wi-border-color-02;
    $border-color-03: $wi-border-color-03;
  
    $table-text-color: $wi-table-text-color;
    $table-zebra-color: $wi-table-zebra-color;
    $table-header-bg-color: $wi-table-header-bg-color;
    $table-header-border: $wi-table-header-border;
    $table-border-color: $wi-table-border-color;
}

// Syntax highlighting styles should be adjusted appropriately for every "skin"
// ----------------------------------------------------------------------------

@mixin lm-highlight {
  .highlight {
    .c     { color: #998; font-style: italic } // Comment
    .err   { color: #a61717; background-color: #e3d2d2 } // Error
    .k     { font-weight: bold } // Keyword
    .o     { font-weight: bold } // Operator
    .cm    { color: #998; font-style: italic } // Comment.Multiline
    .cp    { color: #999; font-weight: bold } // Comment.Preproc
    .c1    { color: #998; font-style: italic } // Comment.Single
    .cs    { color: #999; font-weight: bold; font-style: italic } // Comment.Special
    .gd    { color: #000; background-color: #fdd } // Generic.Deleted
    .gd .x { color: #000; background-color: #faa } // Generic.Deleted.Specific
    .ge    { font-style: italic } // Generic.Emph
    .gr    { color: #a00 } // Generic.Error
    .gh    { color: #999 } // Generic.Heading
    .gi    { color: #000; background-color: #dfd } // Generic.Inserted
    .gi .x { color: #000; background-color: #afa } // Generic.Inserted.Specific
    .go    { color: #888 } // Generic.Output
    .gp    { color: #555 } // Generic.Prompt
    .gs    { font-weight: bold } // Generic.Strong
    .gu    { color: #aaa } // Generic.Subheading
    .gt    { color: #a00 } // Generic.Traceback
    .kc    { font-weight: bold } // Keyword.Constant
    .kd    { font-weight: bold } // Keyword.Declaration
    .kp    { font-weight: bold } // Keyword.Pseudo
    .kr    { font-weight: bold } // Keyword.Reserved
    .kt    { color: #458; font-weight: bold } // Keyword.Type
    .m     { color: #099 } // Literal.Number
    .s     { color: #d14 } // Literal.String
    .na    { color: #008080 } // Name.Attribute
    .nb    { color: #0086B3 } // Name.Builtin
    .nc    { color: #458; font-weight: bold } // Name.Class
    .no    { color: #008080 } // Name.Constant
    .ni    { color: #800080 } // Name.Entity
    .ne    { color: #900; font-weight: bold } // Name.Exception
    .nf    { color: #900; font-weight: bold } // Name.Function
    .nn    { color: #555 } // Name.Namespace
    .nt    { color: #000080 } // Name.Tag
    .nv    { color: #008080 } // Name.Variable
    .ow    { font-weight: bold } // Operator.Word
    .w     { color: #bbb } // Text.Whitespace
    .mf    { color: #099 } // Literal.Number.Float
    .mh    { color: #099 } // Literal.Number.Hex
    .mi    { color: #099 } // Literal.Number.Integer
    .mo    { color: #099 } // Literal.Number.Oct
    .sb    { color: #d14 } // Literal.String.Backtick
    .sc    { color: #d14 } // Literal.String.Char
    .sd    { color: #d14 } // Literal.String.Doc
    .s2    { color: #d14 } // Literal.String.Double
    .se    { color: #d14 } // Literal.String.Escape
    .sh    { color: #d14 } // Literal.String.Heredoc
    .si    { color: #d14 } // Literal.String.Interpol
    .sx    { color: #d14 } // Literal.String.Other
    .sr    { color: #009926 } // Literal.String.Regex
    .s1    { color: #d14 } // Literal.String.Single
    .ss    { color: #990073 } // Literal.String.Symbol
    .bp    { color: #999 } // Name.Builtin.Pseudo
    .vc    { color: #008080 } // Name.Variable.Class
    .vg    { color: #008080 } // Name.Variable.Global
    .vi    { color: #008080 } // Name.Variable.Instance
    .il    { color: #099 } // Literal.Number.Integer.Long
  }
}

@include lm-highlight;