@charset "utf-8";

$color-scheme-cus-default: false;

$color-scheme-cus-spring: false;
$color-scheme-cus-summer: true;
$color-scheme-cus-autumn: false;
$color-scheme-cus-winter: false;
@import "minima/skins/custom";
