@charset "utf-8";

$color-scheme-cus-default: false;

$color-scheme-cus-spring: false;
$color-scheme-cus-summer: false;
$color-scheme-cus-autumn: false;
$color-scheme-cus-winter: true;
@import "minima/skins/custom";
